<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Confirm Order</title>
  </head>
  <body>
    <h3> Dear <%= @order.name_of_buyer %>, </h3>
    <p>Your order of <%= @order.quantity %> <%= @item.title %> has been confirmed</p>
    <p>We appreciate your business.</p>
    <p>Best,</p>
    <p>The Iron Yard Sale Dev Team</p>
  </body>
</html>
