<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Order Created</title>
  </head>
  <body>
    <p>Dear <%= @order.name_of_buyer %>,</p>
    <p>Thank you for your interest in buying from us. We will reach out soon to work on a date of pickup</p>
    <p>Best,</p>
    <p>The Iron Yard Sale Dev Team</p>
  </body>
</html>
